/* Estilos generales*/
*{
	padding:0;
	margin:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
  color: white;
  user-select: none;
  user-zoom: none;
  scroll-behavior: smooth;
}

body {
  font-family: Odachi;
  font-size: 16px;
  background-image: url(img/5137843.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
  overflow: hidden;
  background-color: transparent;
	width: 100%;
	left: 0;
	top: 0;
	position: fixed;
  padding-top: 15px;
  }
  
header h1 {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  line-height: 25px;
  transition: 0.5s;
}

header h1:hover{
  opacity: 0.5;
  transition: 0.5s;
}

#titulo{
  color: white;
}

/* menu a la izquierda */
.header-right {
  float: right;
  margin-right: 10px;
}

.header-right img{
    margin: 10px;
    margin-top: 4px;
    transition: 0.5s;
}

.header-right img:hover{
  transform: scale(1.1);
  transition: 0.5s;
}

/* Principal*/

#home{
  margin-top: 100px;
  text-align: center;
  font-size: 25px;
  /* background-image: url(img/5137843.jpg); */
  height: 92vh;

}

#img_Paco{
  width: 86%;
  height: auto;
}


/* FOOTER */

footer{
  overflow: hidden;
  background-color: rgb(45, 44, 44);
  text-align: center;
  padding: 10px;

}

footer img{
  margin: 10px;
  transition: 0.5s;
}

footer img:hover{
  transform: scale(1.1);
  transition: 0.5s;
}

/* Fuente */
@font-face {
  font-family: Odachi;
  src: url('fonts/Odachi/Odachi.otf');
}



@media screen and (max-width: 480px) and (orientation:portrait)
{
  /* .header-right img, footer img{
    width: 30px;
    height: 30px;
  } */

  /* footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6em; 
  } */
}


@media screen and (max-width: 360px) and (orientation:portrait)
{
  /* .header-right img, footer img{
    width: 26px;
    height: 26px;
  }

  .header-right{
    margin-top: 3px;
  } */

  /* footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6em; 
  } */
}


/* Texto maquina escribir*/
.text-box {
  text-align: center;
  margin-bottom: 20px;
}

#animate-text {
  letter-spacing: 0.075rem;
  text-align: center;
  font-size: 35px;
}


/* MENU DESPLEGABLE */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  font-size: 25px;
  color: white;
  padding: 1rem;
}

.header__button-nav--open, .header__button-nav--close {
  border-style: none;
  background-color: transparent;
}

.header__button-nav--open:hover{
  animation-play-state: paused;
}

/* Estilos móvil */
@media all and (max-width: 700px) {
  /* Oculta el nav en la parte izquierda */
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #171717;
    transform: translateX(-100vw);
    transition: 0.5s;
    color: white;
  }

  /* Muestra el nav */
  .nav--show {
    transform: translateX(0);
  }

  .nav__button {
    text-align: right;
    margin: 1rem;
  }

  .nav__ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: white;
  }

  .nav__link {
    display: block;
    padding: 1rem;
    font-size: 2rem;
    text-align: center;
    text-decoration: none;
    color: white;
  }

  #img_Paco{
    width: 100%;
    height: auto;
  }

  .contenedor-equipo {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    height: 92vh;
    width: auto;
    margin-top: 10%;
    overflow-x: auto; 
    overflow-y: hidden;
    white-space: nowrap;
  }

  .box {
    flex-direction: column;
    box-shadow: 0 20px 30px rgba(0,0,0,.2);
    font-size: 25px;
    padding: 10px;
    width: auto;
    height: 80%;
    margin: 15px;
  }

  .box > img{
    flex: 0 0 100%;
    width: 100%;
  }

  .social-icons-avatar img{
    width: 30px;
    height: 30px;
    margin: 15px;
  }
  
  /* .box > img {
    width: 200%;
    height: calc(100% - 10vh);
    object-fit: cover; 
    transition: .3s;
  } */
  
  /* .box > span {
    font-size: 3.8vh;
    display: block;
    text-align: center;
    height: 10vh;
    line-height: 2.6;
  } */
  
  /* .box:hover { flex: 1 1 50%; }
  .box:hover > img {
    width: 100%;
    height: 100%; */
    /* background-color:#000; */
    /* opacity:0.5; */
  
    /* -webkit-filter: brightness(40%);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
  } */

  #main h2{
    margin: 0px 15px 0px 15px;
  }

  .social-media-menu1{
    display: none;
  }

}

/* Estilos Escritorio */
@media all and (min-width: 701px) {

  /* Oculta botón de abrir o cerrar */
  .nav__button,
  .header__button-nav--open {
    display: none;
  }

  /* Adapta el nav en horizontal */
  .nav__ul {
    display: flex;
    list-style: none;
    padding: 0;
  }

  .nav__link {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: white;
    transition: 0.5s;
  }

  .nav__link:hover {
    opacity: 0.5;
  }

  #animate-text::after {
    content: "|";
    animation-name: parpadeo;
    animation-duration: 1s;
    animation-timing-function: initial;
    animation-iteration-count: infinite;
    font-size: 35px;
  }
  
  /*Esta animación imita el parpadeo del cursor del teclado*/
  @keyframes parpadeo {
    0% {
      opacity: 1;
    }
    20% {
      opacity: 1;
    }
    25% {
      opacity: 0;
    }
    100% {
      opacity: 1;
  
    }
  }

  .social-media-menu1{
    margin: 5px 20px 0px 0px;
    width: 40px;
    height: 40px;
    transition: 0.2s;
  }

  .social-media-menu1:hover{
    transition: 0.2s;
    transform: scale(1.1);
  }

  .contenedor-equipo {
    display: flex;
    width: 100%;
    padding: 4% 2%;
    box-sizing: border-box;
    height: 92vh;
  }
  
  .box {
    flex: 1;
    overflow: hidden;
    transition: .3s;
    margin: 0 2%;
    box-shadow: 0 20px 30px rgba(0,0,0,.2);
    line-height: 0;
    text-align: center;
  }
  
  .box > img {
    width: 200%;
    height: calc(100% - 10vh);
    object-fit: cover; 
    transition: .3s;
  }
  
  .box > span {
    font-size: 3.8vh;
    display: block;
    text-align: center;
    height: 10vh;
    line-height: 2.6;
  }
  
  .box:hover { 
    flex: 1 1 50%; 
  }
  .box:hover > img {
    width: 100%;
    height: 100%;  
    -webkit-filter: brightness(40%);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .box .text {
    position:relative;
    bottom:65%;
    left:0px;
    visibility:hidden;
    margin: 0px 15px 0px 15px;
    font-size: 30px;
    text-align: center;
  }
  
  .social-icons-avatar{
    display: none;
    position:relative;
    bottom:60%;
    left:0px;
    visibility:hidden;
    font-size: 30px;
  }

  .box:hover .social-icons-avatar {
    display: block;
  }
  
  .box:hover .text, .box:hover .social-icons-avatar {
  visibility:visible;
  font-size: 30px;
  }
  

  
}


.secciones{
  text-align: center;
  background-color: rgb(26, 26, 66);
  padding-top: 20px;
}

.secciones h1{
  font-size: 40px;
}

#equipo{
  background-image: url(img/5053309.jpg) ;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#social-media-menu{
  text-align: center;
  padding: 10px;
}

#social-media-menu img{
  margin: 10px;
}



#roadmap{
  background-image: url(img/22334-oscuros.jpg) ;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}







.popup-wrapper {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  transition: 1s;
  text-align: center;
}

.popup {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  width: 100%;
  max-width: 250px;
  background: rgb(97, 93, 93);
  margin: 10% auto;
  padding: 20px;
  position: relative;
  transition: 1s;

  
}

.popup-content a {
  color: white;
  text-decoration: none;
  display: block;
  width: 50%;
  margin-left: 55px;
  margin-top: 10px;
}

.popup-close {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  font-size: 1.5rem;
  transition: 1s;
}